.breadcrumbs-navigation {
    .breadcrumbs {
        margin-top: 1rem;

        .breadcrumb {
            a.breadcrumb-label {
                color: stencilColor('color-greyDarker');
                text-decoration: none;
            }

            &.is-active {
                a.breadcrumb-label {
                    color: stencilColor('color-blue');
                }
            }
        }
    }
}