body main.pages-category {
    margin-top: 46px;

    @include breakpoint('medium') {
        margin: 0;
    }

    div.container {
        max-width: initial;
        padding: 0;

        div.categoryHeading {
            background-color: stencilColor('color-greyDarkest');
            min-height: 50px;
            margin-bottom: 75px;
            position: relative;

            @include breakpoint('medium') {
                min-height: 100px;
            }

            .page-heading {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: stencilColor('color-white');
                font-size: remCalc(20px);
                padding: .5rem;

                @include breakpoint('small') {
                    font-size: remCalc(24px);
                }

                @include breakpoint('medium') {
                    font-size: remCalc(36px);
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) skewX(-30deg);
                    background-color: stencilColor('color-greyDarkest');
                    backdrop-filter: blur(10px);
                    border: 5px solid stencilColor('color-white');
                    height: 125%;
                    width: 125%;
                    z-index: -1;

                    @include breakpoint('medium') {
                        width: 135%;
                    }

                }
            }
        }

        div.categoryBanner {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 100px;

            div.categoryBanner-image {
                height: 100%;
                width: 100%;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(0, 0, 0, .33);
                    height: 100%;
                    width: 100%;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    max-height: 400px;
                }
            }

            div.categoryBanner-content {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -25%);

                .page-heading {
                    color: stencilColor('color-white');
                    font-size: remCalc(36px);
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) skewX(-30deg);
                        background-color: stencilColor('color-greyDarkest');
                        backdrop-filter: blur(10px);
                        border: 5px solid stencilColor('color-white');
                        height: 125%;
                        width: 155%;
                        z-index: -1;

                    }
                }
            }
        }
    }

    aside.page-sidebar#faceted-search-container {
        @media (min-width: 1024px) {
            width: 30%;
            padding-right: 2rem;
        }

        div.categoryFilter {
            h2.categoryFilter-heading {
                color: stencilColor('color-greyDarkest');
                font-size: remCalc(20px);
                font-weight: 900;
                padding: 0 1rem;
            }

            ul.categoryFilter-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                li.categoryFilter-item {
                    background-color: stencilColor('color-white');
                    width: 100%;
                    border-top: 1px solid stencilColor('color-greyLighter');
                    transition: all .3s ease-in-out;

                    &:last-child {
                        border-bottom: 1px solid stencilColor('color-greyLighter');
                    }

                    &:hover,
                    &:focus {
                        background-color: stencilColor('color-blue');
                        border-color: stencilColor('color-blue');

                        a.categoryFilter-action {
                            color: stencilColor('color-white');
                        }
                    }

                    a.categoryFilter-action {
                        font-size: remCalc(18px);
                        padding: .75rem 1rem;
                        color: stencilColor('color-greyDarkest');
                    }
                }
            }
        }
    }

    div.page {
        max-width: 1440px;
        margin: 0 auto;

        div.page-content#product-listing-container {
            @media (min-width: 1024px) {
                width: 70%;
            }
        }
    }

}