body {

    main.body {
        margin-top: 65px;

        @include breakpoint('medium') {
            margin-top: 35px;
        }

        &.pages-home {
            margin-bottom: 0;

            div.container {
                max-width: initial;
                padding: 0;
            }
        }
    }
}

div.container {
    max-width: 1440px;
    padding: 0 20px;
}


.modal-body.quickView {
    div.productView {
        section.productView-details {
            &.product-options {
                div.productView-options {
                    div.add-to-cart-buttons {

                        input#form-action-addToCart {
                            background-color: stencilColor('color-blue');
                            border-radius: 30px;
                            border: 1px solid stencilColor('color-blue');
                            transition: all .3s ease-in-out;

                            &:hover,
                            &:focus {
                                background-color: stencilColor('color-white');
                                color: stencilColor('color-blue');
                            }
                        }
                    }

                    form.form-wishlist {
                        a[data-dropdown=wishlist-dropdown] {
                            background-color: stencilColor('color-white');
                            border: 1px solid stencilColor('color-blue');
                            border-radius: 30px;
                            color: stencilColor('color-blue');
                            transition: all .3s ease-in-out;

                            &:hover,
                            &:focus {
                                background-color: stencilColor('color-greyDarkest');
                                color: stencilColor('color-white');
                                border: 1px solid stencilColor('color-greyDarkest');

                                svg {
                                    fill: stencilColor('color-white');
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

div#previewModal {
    div.modal-content {
        div.modal-header {
            .modal-header-title {
                color: stencilColor('color-blue');
            }
        }
    }

    section.previewCartCheckout {
        @include breakpoint('medium') {
            width: 40%;
        }

        a.button {
            border-radius: 30px;
            background-color: stencilColor('color-white');
            color: stencilColor('color-blue');
            border: 1px solid stencilColor('color-blue');
            transition: all .3s ease-in-out;

            &:hover,
            &:focus {
                box-shadow: 2px 4px 10px stencilColor('color-greyDarkest');
            }

            &.button--primary {
                background-color: stencilColor('color-blue');
                color: stencilColor('color-white');

            }
        }

    }

    section.productView {
        @include breakpoint('medium') {
            width: 60%;
        }
    }
}