header.header {
    height: auto;
    background-color: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(5px);
    padding-bottom: 10px;
    overflow: hidden;

    &::before {
        content: "";
        height: 10px;
        width: 150%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0) skewX(-50deg);
        background-image: linear-gradient(to right, stencilColor('color-blue') 35%, stencilColor('color-greyDarkest'), stencilColor('color-blue'));
    }


    a.mobileMenu-toggle {
        top: 41.5px;
        left: 0;
        transform: translate(0, -50%);

        span.mobileMenu-toggleIcon {
            background-color: stencilColor('color-blue');

            &::before,
            &::after {
                background-color: stencilColor('color-blue');
            }

            &::before {
                width: calc(100% + 5px);
            }

            &::after {
                width: calc(100% + 2px);
            }
        }

        &.is-open {
            span.mobileMenu-toggleIcon {
                background-color: transparent;

                &::before {
                    width: calc(100%);
                }

                &::after {
                    width: calc(100%);
                }
            }
        }
    }

    nav.navUser {
        // 
    }

    .header-logo {
        height: auto;

        a.header-logo__link {
            div.header-logo-image-container {
                img.header-logo-image {
                    max-height: initial;
                }
            }
        }
    }

    div.navPages-container {
        background-color: transparent;
    }

    &.is-open {
        padding-bottom: 0;

        &::before {
            display: none;
        }

        div.navPages-container {
            padding-top: 10px;
            position: static;
            transition: all .3s ease-in-out;
            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                height: 10px;
                width: 150%;
                position: absolute;
                top: 0;
                left: 50%;
                // background-color: stencilColor('color-blue');
                transform: translate(-500%, 0);
                transition: all .5s ease-in-out;
                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

                @keyframes slide-top {
                    0% {
                        transform: translate(-200%, 0) skewX(-50deg);
                        background-image: linear-gradient(to right, stencilColor('color-blue'), stencilColor('color-greyDarkest'));
                    }

                    50% {
                        transform: translate(-200%, 0) skewX(-50deg);
                        background-image: linear-gradient(to right, stencilColor('color-blue'), stencilColor('color-white') 25%, stencilColor('color-greyDarkest'));
                    }

                    100% {
                        transform: translate(-50%, 0) skewX(-50deg);
                        background-image: linear-gradient(to right, stencilColor('color-blue') 45%, stencilColor('color-white') 55%, stencilColor('color-greyDarkest') 65%, stencilColor('color-blue'));
                    }
                }
            }
        }
    }
}