section.heroBanner {
    position: relative;

    &.small {
        min-height: 300px;
    }

    &.medium {
        min-height: 300px;
    }

    &.large {
        min-height: 350px;
    }

    @media (min-width: '551px') {
        &.medium {
            min-height: 400px;
        }

        &.large {
            min-height: 450px;
        }
    }

    @media (min-width: '801px') {
        &.medium {
            min-height: 450px;
        }

        &.large {
            min-height: 600px;
        }
    }

    &.slick-initialized {
        max-height: initial;
    }

    div.heroBanner-slide {
        .heroBanner-image-wrapper {
            img.heroBanner-image {
                object-fit: cover;
                width: 100%;
                max-height: 300px;

                @include breakpoint('small') {
                    max-height: 400px;
                }

                @include breakpoint('medium') {
                    max-height: 600px;
                }
            }
        }

        div.heroBanner-content {
            background-color: stencilColor('color-greyDarkest');
            padding: 2rem;

            @include breakpoint('small') {
                position: static;
                transform: initial;
                width: 100%;
                max-height: initial;
            }

            @include breakpoint('medium') {
                position: absolute;
                text-align: left;
                overflow: initial;
                top: 50%;
                left: 5%;
                background-color: transparent;
                transform: translate(0%, -50%);
                right: initial;
                max-height: initial;
                width: auto;
                height: auto;
                padding: 2.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 50%;
                border-radius: 0 50px 0 50px;
                border: 1px solid rgba(255, 255, 255, .35);
                backdrop-filter: blur(5px);

                @include breakpoint('large') {
                    padding: 4rem;
                }
            }


            .heroBanner-title {
                color: stencilColor('color-white');
                font-weight: 900;
                font-size: remCalc(24px);
                font-family: stencilFontFamily('headings-font');

                @include breakpoint('small') {
                    font-size: remCalc(28px);
                }

                @include breakpoint('medium') {

                    font-size: remCalc(36px);
                    margin: 0 0 10px 0;
                }

                @include breakpoint('large') {
                    margin-bottom: 1rem;
                    font-size: remCalc(40px);
                }
            }

            .heroBanner-description {
                color: stencilColor('color-white');
                font-size: remCalc(14px);

                @include breakpoint('small') {
                    font-size: remCalc(16px);
                }

                @include breakpoint('medium') {

                    margin: 0 0 10px 0pc;
                    font-size: remCalc(18px);
                }
            }

            .heroBanner-action {
                display: inline-block;
                background-color: stencilColor('color-blue');
                border: 1px solid stencilColor('color-blue');
                border-radius: 30px;
                transition: all .3s ease-in-out;
                font-size: remCalc(14px);
                color: stencilColor('color-white');
                text-decoration: none;
                padding: 10px 2rem;
                text-align: center;

                @include breakpoint('small') {
                    font-size: remCalc(16px);
                    max-width: 200px;
                    margin: 1.5rem 0;
                }

                @include breakpoint('medium') {
                    margin: 1rem 0 0 0;
                }

                &:hover,
                &:focus {
                    background-color: stencilColor('color-greyDarkest');
                }
            }
        }
    }

    &.alignment-center {
        div.heroBanner-slide {
            div.heroBanner-content {

                @include breakpoint('medium') {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    &.alignment-right {
        div.heroBanner-slide {
            div.heroBanner-content {

                @include breakpoint('medium') {
                    left: initial;
                    right: 5%;
                    transform: translate(0%, -50%);
                }
            }
        }
    }
}